body {
    background-color: #f1f2f6; 
}

main {
    margin: auto;
}


#signUpMain, #registerPropertyMain,#forgotPassword {
  margin-top: 7rem;
}

.details {
    display: flex;
    justify-content: center;
}

#description {
    height: 12rem;
}


#userDetails, #propertyRegistration{
    width: 40%;
}
#buttons{
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

#closeButton {
  width: 2.4rem;
  border-radius: 2rem;
}

#login {
  width: 25%;
}

#loginPage {
  background-color: #e0e1dd;
}



#login , #signUp, #emailVerificationForm {

  background-color: #ffffff;
   margin: auto;
   border-radius: 0.5rem;
}

.navbar.bg-light {
  background-color: #4B3F64 !important;
}

/*.btn.btn-outline-success{
  background-color: white;
}*/

.navbar-brand{
  color: white;
}

.nav-link{
   color: white;
}

.navbar-nav .nav-link.active {
  color: yellow !important;
}

#title{
  color: #C1121F;
  text-align: center;
  margin:3%;
}

.carousel.carousel-dark.slide{
  width: 50%;
  height: 50%;
}

#section-carusel{
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-inner{
  height: 25rem;
}

.carousel {
  border-radius: 20px;
  overflow: hidden;
}

footer{
  height: 5rem;
  background-color: #4B3F64;
}

section {
  padding-top: 100px; /* Adjust the value as needed */
}

h5{
  text-align: center;
}

#footer-logo{
  height: 3rem;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-container{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.text{
  color: white;
}

#form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 5%;
  border-radius: 2rem;
}

#btn-form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control.elements{
  width: 3rem;
}

.img-size{
  width: 450px;
  height: 253px;
}

.container-catalog{
  border: 1px solid gray;
  width: 450px;
  border-radius: 1rem;
}

#more{
  text-align: right;
}

textarea { /* Adjust the width as needed */
  height: 5rem; /* Adjust the height as needed */
  resize: none; /* Disable resizing */
}

#table-container{
  margin: 10%;quotes: q;
  border-radius: 2rem;
}

.table{
  border-radius: 1rem;
}

.container-serch{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 20px; /* Gap between grid items */
  justify-content: center; /* Center the grid */
}
.container-catalog {
  background-color: white;
  width: 450px;
}
.container-catalog img {
  width: 100%;
  height: auto;
}
.container-catalog > div {
  width: 100%;
}
.container-catalog p {
  margin-bottom: 0.5rem;
}